# Copier ce fichier en .env et remplir les valeurs
# Ne jamais commiter le fichier .env

FLASK_ENV=development

# Clé secrète Flask (générer avec : python -c "import secrets; print(secrets.token_hex(32))")
SECRET_KEY=changez-moi-en-production

# Base de données PostgreSQL (Supabase Session Pooler)
DATABASE_URL=postgresql://postgres.vyfpvsohzlgefjvatsfz:[TON-MOT-DE-PASSE]@aws-1-eu-central-1.pooler.supabase.com:5432/postgres
